body {
  margin: 0;
  background-color: bisque;
}
header img{
  width: 100%;
}
header h2{
  text-align: center;
  margin-top: -400px;
}
.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box1 p {
    margin: 0;
    padding: 0;
}
.box7{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}
.box7 p {
    margin: 0;
    padding: 0;
}
#about {
  background: #ebebeb;
}
#about .inner {
  width: 1300px; /* 好きな幅 */
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
  background: #ffffff;
}
#about h2 {
  text-align: center;
  margin: 0 0 24px;
}
#about p {
  text-align: center;
}
